<form (ngSubmit)="activityForm.valid && onSubmit()" #form="ngForm" [formGroup]="activityForm">
  <div class="form-group">
    <label for="activity">Activity :</label>
    <input type="text" class="form-control" name="activity" formControlName="activity">
  </div>
  <div class="form-group">
    <label for="accessibility">Accessibility :</label>
    <input type="number" class="form-control" name="accessibility" formControlName="accessibility">
  </div>
  <div class="form-group">
    <label for="type">Type :</label>
    <input type="text" class="form-control" name="type" formControlName="type">
  </div>
  <div class="form-group">
    <label for="participants">Participants :</label>
    <input type="number" class="form-control" name="participants" formControlName="participants">
  </div>
  <div class="form-group">
    <label for="price">Price :</label>
    <input type="number" class="form-control" name="price" formControlName="price">
  </div>
  <div class="form-group">
    <label for="link">Link :</label>
    <input type="text" class="form-control" name="link" formControlName="link">
  </div>
  <div class="form-group">
    <label for="key">Key :</label>
    <input type="text" class="form-control" name="key" formControlName="key">
  </div>
  <button type="reset" class="btn">reset</button>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
